<html>

<head>
    <link rel="stylesheet" href="../css/bootstrap.css" media="screen">

    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</head>

<body>
    <div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="statusModalLabel">API connection status</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="SecretKey" disabled="">Sekret key</label>
        <input type="text" class="form-control" id="Secret" aria-describedby="SSID" placeholder="" disabled="">
        <small id="SSIDHelp" class="form-text text-muted" disabled="">Secret key to be used when connecting to
            API.</small>

    </div>

    <div class="form-group">
        <label for="HostIP">Host IP</label>
        <input type="text" class="form-control" id="IP" placeholder="">
        <small id="IPHelp" class="form-text text-muted">IP of local API server.</small>

        <label for="HostPort">Port</label>
        <input type="number" class="form-control" id="Port" placeholder=80>
        <small id="PortHelp" class="form-text text-muted">API server port (default 80).</small>
    </div>

    <div class="form-group">
        <label for="DeviceAPIID">Device ID</label>
        <input type="number" class="form-control" id="DeviceAppId" placeholder="" disabled="">
        <small id="DeviceAPIIDHelp" class="form-text text-muted">Device ID in SmartHome app.</small>
    </div>

    <div class="form-group">
        <label for="DeviceAPIID">Device API name</label>
        <input type="text" class="form-control" id="DeviceAppName" placeholder="">
        <small id="DeviceAPIIDHelp" class="form-text text-muted">Device name in SmartHome app.</small>
    </div>

    <row>
        <button 
            type="button" 
            class="btn btn-primary" 
            id="SubmitBtn" 
            margin-left="100px" 
            data-toggle="modal" 
            data-target="#statusModal">Submit</button>
        </div>
        </div>
        <button 
            type="button" 
            class="btn btn-primary" 
            id="TestBtn"
            data-toggle="modal"
            data-target="#statusModal">Test</button>
        </div>
        </div>
    </row>
</body>

<script>

    var modal = document.getElementById("myModal");
    var span = document.getElementsByClassName("close")[0];

    document.addEventListener('DOMContentLoaded', function () {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/config?api", false);
        xhr.send(null);

        var obj = JSON.parse(xhr.responseText);
        console.log(xhr.responseText);

        document.getElementById("IP").value = obj["host"];
        document.getElementById("Port").value = obj["port"];

        document.getElementById("DeviceAppId").value = obj["device_id"];
        document.getElementById("DeviceAppName").value = obj["device_name"];
    });

    document.getElementById("SubmitBtn").addEventListener("click", function () {
        var obj = new Object();

        obj.host = document.getElementById("IP").value;
        obj.port = document.getElementById("Port").value;

        obj.device_id = document.getElementById("DeviceAppId").value;
        obj.device_name = document.getElementById("DeviceAppName").value;

        var jsonString = JSON.stringify(obj);
        console.log(jsonString);

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/config?api", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(jsonString);

        modal = $("#statusModal .modal-body");
        modal.text("Ok");
        
        modal = $("#statusModal .modal-header");
        modal.text("Config update status");
    });

    document.getElementById("TestBtn").addEventListener("click", function () {
        try {
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/config?api", false);
            xhr.send(null);

            var obj = JSON.parse(xhr.responseText);
            console.log(xhr.responseText);

            host = obj["host"];
            port = obj["port"];

            url = 'http://' + host + ':' + port + '/get_date'
            xhr.open("GET", url);
            xhr.send(null);
        }
        finally {
            modal = $("#statusModal .modal-body");
            if (xhr.status == 200) {
                modal.text("Connection successfull");
            }
            else {
                modal.text("Upssss... Something went wrong.");
            }
        }
    });

</script>
</html>