<html>

<head>
    <link rel="stylesheet" href="../css/bootstrap.css" media="screen">

    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</head>

<body>
    <div class="row">
        <div class="col">
            <form>
                <fieldset>
                    <legend class="mt-4">Water change</legend>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Active">
                        <label class="custom-control-label" for="Active">Active</label>
                    </div>
                    <div style="margin-left: 30px">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="PompingOut">
                            <label class="custom-control-label" for="PompingOut">Pomping out</label>
                        </div>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="FillingIn">
                            <label class="custom-control-label" for="FillingIn">Filling in</label>
                        </div>
                </fieldset>
            </form>
            Last run: <text id="LastUpdated">0000-00-00 00:00</text>
        </div>
        <div class="col">
            <fieldset>
                <legend class="mt-4">Water level</legend>
                <p id="WaterLevel">15cm</p>
            </fieldset>
        </div>
    </div>
</body>

<script>
    function getPinStatus(pin) {
        // var xhr = new XMLHttpRequest();
        // var endpoint = "/relay?pin=${pin}";
        // xhr.open("GET", endpoint, false);
        // xhr.send(null);
    
        // var obj = JSON.parse(xhr.responseText);
        // console.log(xhr.responseText);    
        
        // result = obj["status"];
        // return result;
    }

    document.addEventListener("DOMContentLoaded", function() {        
        status = getPinStatus("");
        $("#FillingIn").prop("checked", status);

        status = getPinStatus(33);
        $("#PompingOut").prop("checked", status);
    })
</script>

</html>