<html>

<head>
    <link rel="stylesheet" href="../css/bootstrap.css" media="screen">

    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</head>

<body>
    <div class="row">
        <div class="col">
            <form>
                <fieldset>
                    <legend class="mt-4">Water change</legend>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Active">
                        <label class="custom-control-label" for="Active">Active</label>
                    </div>
                    <div style="margin-left: 30px">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="Pomp">
                            <label class="custom-control-label" for="Pomp">Pomping out</label>
                        </div>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="WaterIn">
                            <label class="custom-control-label" for="WaterIn">Filling in</label>
                        </div>
                </fieldset>
            </form>
            Last run: <text id="LastUpdated">0000-00-00 00:00</text>
        </div>
        <div class="col">
            <fieldset>
                <legend class="mt-4">Water level</legend>
                <p id="WaterLevel">15cm</p>
            </fieldset>
        </div>
    </div>
</body>

<script>
    function getPinStatus() {
        var xhr = new XMLHttpRequest();
        var endpoint = "/relay";

        xhr.open("GET", endpoint, false);
        xhr.send(null);

        var obj = JSON.parse(xhr.responseText);
        console.log(xhr.responseText);

        return obj;
    }

    document.addEventListener("DOMContentLoaded", function () {
        pins = getPinStatus();

        pins.forEach(function(pin){
            state = !!pin["state"];
            name = pin["pin"];        

            $("#" + name).prop("checked", state);
        });        
    })
</script>

</html>