<html>

<head>
    <link rel="stylesheet" href="../css/bootstrap.css" media="screen">

    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</head>

<body>
    <textarea name="logs" rows=20 cols=100>
The cat was playing in the garden.
The cat was playing in the garden.
The cat was playing in the garden.
The cat was playing in the garden.
The cat was playing in the garden.
The cat was playing in the garden.
    </textarea>
</body>
<script>
</script>

</html>