<html>

<head>
    <link rel="stylesheet" href="../css/bootstrap.css" media="screen">

    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</head>

<body>

    <!-- Triggers -->
    <form>
        <h5></h5>Triggers</h5>
        <div class="row">
            <div class="col">
                <input type="number" class="form-control" placeholder="" id="triggerLow">
                <small class="form-text text-muted">Low value</small>
            </div>
            <div class="col">
                <input type="number" class="form-control" placeholder="" id="triggerHigh">
                <small class="form-text text-muted">High value</small>
            </div>
        </div>
    </form>

    <!-- Sampling -->
    <form>
        <h5></h5>Sampling</h5>
        <div class="row">
            <div class="col">
                <input type="number" class="form-control" placeholder="" id="samplingAmount">
                <small class="form-text text-muted">Amount</small>
            </div>
            <div class="col">
                <input type="number" class="form-control" placeholder="" id="samplingInterval">
                <small class="form-text text-muted">Interval</small>
            </div>
        </div>
    </form>

    <button type="button" class="btn btn-primary" id="SensorConfigBtn">Submit</button>
</body>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/config?sensor", false);
        xhr.send(null);

        var obj = JSON.parse(xhr.responseText);
        console.log(xhr.responseText);

        document.getElementById("triggerLow").value = obj["trigger_low"];
        document.getElementById("triggerHigh").value = obj["trigger_high"];

        document.getElementById("samplingAmount").value = obj["sampling_amount"];
        document.getElementById("samplingInterval").value = obj["sampling_interval"];
    });

    document.getElementById("SubmitBtn").addEventListener("click", function () {
        var obj = new Object();

        obj["trigger_low"] = $("#triggerLow").value;
        obj["trigger_high"] = $("#triggerHigh").value;

        obj["sampling_amount"] = $("#samplingAmount").value;
        obj["sampling_interval"] = $("#samplintInterva;").value;

        var payload = JSON.stringify(obj);

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/config?sensor", false);
        xhr.send(payload);

        if (xhr.status == 200)
        {
            console.log("OK");
        }
    }
    );
</script>

</html>